.home {
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 900;
  font-size: 30px;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.content > button:focus,
.folder > button:focus,
.convert > button:focus {
  box-shadow: none !important;
}

.folder,
.convert {
  margin: 200px 100px;
}

.folder > label {
  margin-right: 20px;
}

a:hover {
  color: white;
  text-decoration: none;
}
